header {
    background-color: orangered;

    z-index: 1;
}

#logo {
    height: 60px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
}

li {
    display: inline-block;

    padding-left: 50px;
    
    vertical-align: middle;
    
    list-style: none;
}
