body {
    display: flex;

    flex-direction: column;
}

#menu-bar {
    display: flex;

    justify-content: space-evenly;
    align-items: center;
}

main {
    display: flex;

    justify-content: space-around;
    align-items: center;
}